<p>
  home works!
</p>
<div>
  <ng-template 
      [ngxPermissionsOnly]="['ADMINISTRATOR', 'ADJUSTOR', 'GUEST']" 
      (permissionsAuthorized)="authorizedFunction()" 
      (permissionsUnauthorized)="unauthorizedFunction()">
      <button (click)="viewOrganization()"> View organization </button> &nbsp;
  </ng-template>
  <ng-template 
    [ngxPermissionsExcept]="['GUEST']"
    (permissionsAuthorized)="authorizedFunction()" 
    (permissionsUnauthorized)="unauthorizedFunction()">
    <button (click)="addOrganization()">Add organization</button>
  </ng-template>
</div>